body {
	margin: 0;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: large;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-color: #222831;
}

@media (max-width:688px) {
	body {
		margin: 0;
		position: relative;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		font-size: medium;
		overflow: hidden;
		width: 100vw;
		height: var(--app-height);
		background-color: #222831;
	}
}

header {
	display: flex;
	width: 100%;
	position: absolute;
	top: 0px;
	text-align: center;
	justify-content: center;
}

	header span {
		background-color: #222831aa;
		border-radius: 0 0 15px 15px;
		padding: 0.5rem;
		width: fit-content;
		border: solid;
		border-width: 0 thin thin thin;
		backdrop-filter: blur(9px);
		z-index: 1;
		cursor: context-menu;
	}

canvas {
	display: block;
}

#background_container {
	position: fixed;
}

#content {
	width: 100%;
	position: absolute;
	height: 100%;
	top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	pointer-events: none;
}

.hide {
	display: none !important;
}

#question_board {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: -webkit-center;
	text-align: -moz-center;
}

#question_title {
	position: relative;
	text-align: center;
	-webkit-text-stroke-width: medium;
	-webkit-text-stroke-color: #fc85ae;
	top: -1000px;
}

.title_animation {
	animation-name: question_title_epilepsy;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	animation-fill-mode: forwards;
}

@keyframes question_title_epilepsy {
	0% {
		text-shadow: 0 -0px 0px #ff0000;
		top: -1000px;
	}

	35% {
		text-shadow: 0 -5px 0px #ff0000;
	}

	75% {
		text-shadow: 0 -10px 0px #ff0000;
	}

	75% {
		text-shadow: 0 -5px 0px #ff0000;
	}

	100% {
		text-shadow: 0 0px 0px #ff0000;
		top: 0px;
	}
}

#answers_grid {
	display: grid;
	width: 75%;
	grid-gap: 5%;
	grid-template-columns: 0.5fr 0.5fr;
	position: relative;
	bottom: -1000px;
}

.answers_animation {
	animation: answers_in;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes answers_in {
	0% {
		bottom: -1000px;
	}

	100% {
		bottom: 0px;
	}
}

#answers_grid div {
	padding: 5%;
	border-color: #fc85ae;
	border-width: thin;
	border: dotted;
	backdrop-filter: blur(9px);
	background-color: #303a52aa;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

	#answers_grid div:hover {
		border: solid;
		transition: border 1s;
	}

.wrong_answer {
	border: solid !important;
	border-color: #ff304f !important;
	transition: all 1s;
}

.right_answer {
	border: solid !important;
	border-color: #17b978 !important;
	transition: all 1s;
}

.enable_pointer_events {
	pointer-events: all;
}
